.modalBackground{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height: 100vh;
  z-index: 3000;
  background-color: rgba(51, 51, 51, 0.827);
}

.modal{
  position: fixed;
  width:calc(50vw);
  min-width:380px;
  background-color: #fff;
  border-radius: 7px;
  min-height: 480px;
  left: 25vw;
  top:10vw;
  padding:1rem;
  box-shadow: 1px 1px 5px #000;
  z-index: 3001;
}

.modalClose{
  position: absolute;
  font-weight: 600;
  right: -1rem;
  top: -1rem;
  padding:0.7rem;
  border-radius: 50%;
  z-index: 3002;
  background-color: #fff;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.modalClose:hover{
  background-color: #777;
  color:#fff;
}

.modalhidden, .hidden{
  display:none;
}
