*, *::after, *::before{
  box-sizing: border-box;
}
body{
  background-color:#222;
  color:#eee;
  padding:0px;
  /*padding:0px 0px;*/
  /*padding:0px 0px 0px 0px;*/
  margin:0px;
}

header{
  background-color:#058093;
}
header h1{
  font-weight: bolder;
  margin:0px 2rem; /*rem: root EM, EM: width of M o Font*/ 
  padding:1rem;
}
header nav ul {
  list-style:none;
  padding:0px;
}
header nav ul li a{
  box-sizing: border-box;
  display: block;
  width:100%;
  text-align:center;
  padding:1rem 0.5rem;
  text-decoration: none;
  color: #eee;
  border-bottom:1px solid #333;
  transition: background-color 1s ease;
}

header nav ul li a:hover{
  background-color: #1c565f;
  transition: background-color 1s ease;
}
/*
main img{
  animation: 1s round infinite;
}
*/
main {
  padding:1rem;
  /*
    rem em % pt vh vw /->  unidades de medidas relativas
    rem = relativo al tamaño de la letra m del inicio de la página  16px
              body            font-size: 1rem;    16px  --> standard --;
              body header     font-size: 2rem;    32px
              body header h1  font-size: 0.8em;   25.36px
              body header h1  font-size: 0.8rem;  12.8px

    vh --> viewport height 0 - 100
    vw --> viewport width 0 - 100
    %  --> 0 - 100 document o contenedor

    em = relativo al tamaño de la letra m del contexto del tamaño del contendor

    px
  */
}

#idSelector{
  color:red;
}

.heropanel{
  width:100vw;
  margin-left: -1rem;
  position:relative;
  color:#333;
  box-shadow: 0px 3px 5px #333;
  padding:0px;
}

.heropanel img{
  width: 100%;
  margin:0px;
  padding:0px;

}

.heropanel h1{
  position: absolute;
  top:20%;
  text-align: center;
  width:100%;
  font-size: 4rem;
  text-shadow: 0.1rem 0.1rem 0.15rem #f00;
}
main {
  background-color:#fff;
  color:#333;
}
main p {
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: justify;
  font-size: 1.1em;
  /*font-weight: bold;*/
  line-height: 2;
  text-shadow: 1px 1px 1px #333; /* Desplazamiento e X, Desplazamiento en Y, Tamaño del Difuninado */
}

@media (min-width: 600px){

  header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /*
    position:relative;
    background-color:#916300;
    */
  }
  header nav {
    /*
    bottom:0px; 
    */
    /*top left right bottom*/
    /* 
    right:0px;
    position:absolute;
    */
  }
  header nav ul {
    display:flex;
    padding:0px 1rem;
  }
  header nav ul li {
    /*display:inline-block;
    */
  }
  header nav ul li a{
    border-bottom:none;
    padding:1rem 1.5rem;
  }

}


@media (min-width:1025px){


}

@media (min-width:1200px){
  main{
    max-width: 1200px;
    margin:1rem auto;
  }
  .heropanel img{
    max-width: 1200px;
  }
}

/*
@keyframes round {
  25% {transform:rotate(45deg) scale(1) }
  50% {transform:rotate(135deg) }
  75% {transform:rotate(90deg) scale(4)}
  100% {transform:rotate(0deg)}
}
*/
