:root {
  --p_c:#9494fa;
  --p_bc:#504ac1;
  --p_t: #fff;
  --s_bc:#fff;
  --s_t: #333;
  --e_t:#910000;
  --e_i:#c60000;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--p_bc);
  color: var(--p_t);
}


main{
  background-color: var(--s_bc);
  color: var(--s_t);
}

.align-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-right-top{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.center {
  text-align:center;
}
.depth-0{
  box-shadow: 1px 1px 3px #333;
}

.depth-1{
  box-shadow: 2px 2px 6px #333;
}
.depth-2{
  box-shadow: 3px 3px 9px #333;
}
.depth-3{
  
}
.p-0{
  padding:0px !important;
}
.p-1{
  padding:0.5rem !important;
}
.p-2{
  padding:1rem !important;
}
.p-3{
  padding:1.5rem !important;
}
.p-4{
  padding:2rem !important;
}
.grid {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid [class*=col-]{
  padding: 0.5rem 1rem;
}

.container{}

.col-1 { flex-basis: calc(100%/12 )}
.col-2 { flex-basis: calc(100%/12 * 2)}
.col-3 { flex-basis: calc(100%/12 * 3)}
.col-4 { flex-basis: calc(100%/12 * 4)}
.col-5 { flex-basis: calc(100%/12 * 5)}
.col-6 { flex-basis: calc(100%/12 * 6)}
.col-7 { flex-basis: calc(100%/12 * 7)}
.col-8 { flex-basis: calc(100%/12 * 8)}
.col-9 { flex-basis: calc(100%/12 * 9)}
.col-10 { flex-basis: calc(100%/12 * 10)}
.col-11 { flex-basis: calc(100%/12 * 11)}
.col-12 { flex-basis:100%}


.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}
.order-11 {order: 11;}
.order-12 {order: 12;}

.offset-1 {margin-left: calc(100%/12 ) !important}
.offset-2 {margin-left: calc(100%/12 *2 )!important}
.offset-3 {margin-left: calc(100%/12 *3)!important}
.offset-4 {margin-left: calc(100%/12 *4)!important}
.offset-5 {margin-left: calc(100%/12 *5)!important}
.offset-6 {margin-left: calc(100%/12 *6)!important}
.offset-7 {margin-left: calc(100%/12 *7)!important}
.offset-8 {margin-left: calc(100%/12 *8)!important}
.offset-9 {margin-left: calc(100%/12 *9)!important}
.offset-10 {margin-left: calc(100%/12 *10)!important}
.offset-11 {margin-left: calc(100%/12 *11)!important}
.offset-12 {margin-left: calc(100% )!important}


@media (min-width:768px){
    .container-m{
    max-width:1200px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .col-m-1 { flex-basis: calc(100%/12 )}
  .col-m-2 { flex-basis: calc(100%/12 * 2)}
  .col-m-3 { flex-basis: calc(100%/12 * 3)}
  .col-m-4 { flex-basis: calc(100%/12 * 4)}
  .col-m-5 { flex-basis: calc(100%/12 * 5)}
  .col-m-6 { flex-basis: calc(100%/12 * 6)}
  .col-m-7 { flex-basis: calc(100%/12 * 7)}
  .col-m-8 { flex-basis: calc(100%/12 * 8)}
  .col-m-9 { flex-basis: calc(100%/12 * 9)}
  .col-m-10 { flex-basis: calc(100%/12 * 10)}
  .col-m-11 { flex-basis: calc(100%/12 * 11)}
  .col-m-12 { flex-basis:100%}
  .order-m-1 {order: 1;}
  .order-m-2 {order: 2;}
  .order-m-3 {order: 3;}
  .order-m-4 {order: 4;}
  .order-m-5 {order: 5;}
  .order-m-6 {order: 6;}
  .order-m-7 {order: 7;}
  .order-m-8 {order: 8;}
  .order-m-9 {order: 9;}
  .order-m-10 {order: 10;}
  .order-m-11 {order: 11;}
  .order-m-12 {order: 12;}
  .offset-m-1 {margin-left: calc(100%/12 )}
  .offset-m-2 {margin-left: calc(100%/12*2 )}
  .offset-m-3 {margin-left: calc(100%/12*3)}
  .offset-m-4 {margin-left: calc(100%/12*4)}
  .offset-m-5 {margin-left: calc(100%/12*5)}
  .offset-m-6 {margin-left: calc(100%/12*6)}
  .offset-m-7 {margin-left: calc(100%/12*7)}
  .offset-m-8 {margin-left: calc(100%/12*8)}
  .offset-m-9 {margin-left: calc(100%/12*9)}
  .offset-m-10 {margin-left: calc(100%/12*10)}
  .offset-m-11 {margin-left: calc(100%/12*11)}
  .offset-m-12 {margin-left: calc(100%)}
}

@media (min-width:1024px){
    .container-l{
    max-width:1050px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .col-l-1 { flex-basis: calc(100%/12 )}
  .col-l-2 { flex-basis: calc(100%/12 * 2)}
  .col-l-3 { flex-basis: calc(100%/12 * 3)}
  .col-l-4 { flex-basis: calc(100%/12 * 4)}
  .col-l-5 { flex-basis: calc(100%/12 * 5)}
  .col-l-6 { flex-basis: calc(100%/12 * 6)}
  .col-l-7 { flex-basis: calc(100%/12 * 7)}
  .col-l-8 { flex-basis: calc(100%/12 * 8)}
  .col-l-9 { flex-basis: calc(100%/12 * 9)}
  .col-l-10 { flex-basis: calc(100%/12 * 10)}
  .col-l-11 { flex-basis: calc(100%/12 * 11)}
  .col-l-12 { flex-basis:100%}
  .order-l-1 {order: 1;}
  .order-l-2 {order: 2;}
  .order-l-3 {order: 3;}
  .order-l-4 {order: 4;}
  .order-l-5 {order: 5;}
  .order-l-6 {order: 6;}
  .order-l-7 {order: 7;}
  .order-l-8 {order: 8;}
  .order-l-9 {order: 9;}
  .order-l-10 {order: 10;}
  .order-l-11 {order: 11;}
  .order-l-12 {order: 12;}
}


@media (min-width:1112px){
  .container-xl{
    max-width:1200px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .col-xl-1 { flex-basis: calc(100%/12 )}
  .col-xl-2 { flex-basis: calc(100%/12 * 2)}
  .col-xl-3 { flex-basis: calc(100%/12 * 3)}
  .col-xl-4 { flex-basis: calc(100%/12 * 4)}
  .col-xl-5 { flex-basis: calc(100%/12 * 5)}
  .col-xl-6 { flex-basis: calc(100%/12 * 6)}
  .col-xl-7 { flex-basis: calc(100%/12 * 7)}
  .col-xl-8 { flex-basis: calc(100%/12 * 8)}
  .col-xl-9 { flex-basis: calc(100%/12 * 9)}
  .col-xl-10 { flex-basis: calc(100%/12 * 10)}
  .col-xl-11 { flex-basis: calc(100%/12 * 11)}
  .col-xl-12 { flex-basis:100%}
  .order-xl-1 {order: 1;}
  .order-xl-2 {order: 2;}
  .order-xl-3 {order: 3;}
  .order-xl-4 {order: 4;}
  .order-xl-5 {order: 5;}
  .order-xl-6 {order: 6;}
  .order-xl-7 {order: 7;}
  .order-xl-8 {order: 8;}
  .order-xl-9 {order: 9;}
  .order-xl-10 {order: 10;}
  .order-xl-11 {order: 11;}
  .order-xl-12 {order: 12;}
}
